

.site{
    max-width: var(--layout-width, 60em);
    margin: 0 auto; 
}
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 /* .site-branding{
    display: inline-block;
    width: 50%;
}
.site-header nav {
    display: flex;
   
}
.site-sidebar {
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.entry{
    padding: 0 1.5em; 
} */